.jumbotron {
    background-color: rgb(255, 228, 72);
    color: black;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(255, 217, 0);
    margin-bottom: 0px;
    margin-top: 100px;
}

.card-hotel {
    flex: 1 100px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
}